@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    font-family: arial;
    height: 100vh;

    background-color: white
    ;

    overflow-x: hidden;

}
.pagehover{
    transition: 1s;
}
.pagehover:hover .showpage{
    display: block;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
}
.showpage{
    display: none;
}
.man:hover .manboy{
  color: white;
  transition: 1.5s;
}
.man:hover{
  background-color: rgb(38,106,225)
}


.loo{
  background-image: url(AcceptanceComponents/accepta.jpg);
  background-size: 100% 100%;
}

.loan{
  background-image: url(SecondaryComponents/loanpay.png);
  background-size: 100% 100%;
}

.big{
  background-image: url(AcceptanceComponents/loanbg.jpg);
  background-size: 100% 100%;
  background-blend-mode: lighten;
}

.lon{
  background-image: url(ContactComponents/loon.jpg);
  background-size: 100% 100%;
}


/* Image slides in from the left */
/* @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  } */
  
  /* Image slides in from the right */
  /* @keyframes slideInRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  } */
  
  /* Apply slide-in-left animation */
  /* .slide-in-left {
    animation: slideInLeft 0.5s ease-out;
  } */
  
  /* Apply slide-in-right animation */
  /* .slide-in-right {
    animation: slideInRight 0.5s ease-out;
  }
   */
  